$color_primary: #19A8DF;
$color_background: #F3F4F6;
$shadow: 0px 0px 35px -9px rgba(0,0,0,0.22);
$card-width-decimal: 0.8;
$card-min-width: 400px;
$card-width: $card-width-decimal * 100%;
$card-content-min-width: $card-width-decimal * $card-min-width;